.u-clear-fix {
  clear: both; }

.u-hide {
  display: none; }

.u-block {
  display: block; }

.u-center {
  text-align: center; }

.u-margin-center {
  margin: 0 auto; }

.u-absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.u-full-width {
  width: 100%; }

body {
  background-color: #FFF;
  color: #252525;
  font-family: 'Roboto'; }

/*# sourceMappingURL=default.css.map */
