* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

strong {
  font-weight: bold; }

a,
button {
  transition: 0.3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input {
  border-radius: 0; }

ul,
ul > li {
  display: inline-block; }

/*# sourceMappingURL=reset.css.map */
