* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

strong {
  font-weight: bold; }

a,
button {
  transition: 0.3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input {
  border-radius: 0; }

ul,
ul > li {
  display: inline-block; }

.u-clear-fix {
  clear: both; }

.u-hide {
  display: none; }

.u-block {
  display: block; }

.u-center {
  text-align: center; }

.u-margin-center {
  margin: 0 auto; }

.u-absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.u-full-width {
  width: 100%; }

body {
  background-color: #FFF;
  color: #252525;
  font-family: 'Roboto'; }

.navbar-default {
  background-color: #0D2A3E; }

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #FFF; }

.navbar-nav > li > a:hover {
  color: #F9B620 !important; }

.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #FFF; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle:not(.collapsed) {
  background-color: #FFF; }

.navbar-default .navbar-toggle:not(.collapsed) .icon-bar {
  background-color: #0D2A3E; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF; }

@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-toggle {
    display: inline-block !important; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-header {
    float: none; } }
.navbar-brand {
  padding: 0px; }

.navbar-brand > img {
  width: auto;
  height: 100%;
  padding: 7px 15px; }

.footer {
  padding: 90px 0;
  background-color: #0D2A3E;
  color: #FFF;
  font-size: 18px; }

.card {
  margin: 30px 0; }
  .card-title {
    padding: 10px 0; }
  .card-text-block {
    margin: 10px 0; }
    .card-text-block__subtitle {
      color: #858585;
      font-weight: 500; }
  @media (max-width: 768px) {
    .card-text-vantagens {
      display: none; } }

@media (min-width: 400px) and (max-width: 769px) {
  .card-text {
    padding: 10px;
    font-size: 20px; } }
.card-text-title {
  font-size: 22px;
  font-weight: 300;
  display: none; }
  @media (min-width: 400px) and (max-width: 769px) {
    .card-text-title {
      display: block; } }

@media (min-width: 1200px) {
  .card-image__elem {
    max-width: 160px;
    padding-top: 0; } }

.dropdown {
  border: 1px solid #DDD;
  padding: 0; }

.dropdown-toggle {
  width: 100%;
  border: none;
  border-radius: 0; }

.open > .sort {
  width: 100%; }

@media (max-width: 992px) {
  .open > .filter {
    width: 100vw;
    left: -50vw; } }

.dropdown-menu li {
  display: block; }

.tr-btn {
  width: 100%;
  margin: 5px 0; }
  .tr-btn--primary {
    background-color: #F4B322;
    color: #FFF; }
  .tr-btn--ghost {
    border: 1px solid #F4B322;
    color: #F4B322; }

.banner {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 15px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 1px 0;
  z-index: 2; }
  .banner__title {
    font-size: 22px;
    font-weight: 400;
    text-transform: none; }
  .banner__subtitle {
    font-size: 15px; }
  .banner__btn {
    padding: 10px 15px;
    float: right;
    background-color: #4274DD;
    color: #FFF; }
  @media screen and (min-width: 769px) {
    .banner {
      display: none; } }

.list-group-item {
  padding: 10px 35px;
  border: none; }

.panel-group:last-child {
  margin-bottom: 0; }

.panel-default > .panel-heading {
  padding: 15px 25px;
  border-bottom: 1px solid #E6E6E6;
  background-color: #FFF; }

.panel-title {
  font-size: 20px; }

.list-group-item input {
  position: relative;
  top: -2px;
  padding: 7px 5px;
  margin: 5px 0;
  font-weight: bold; }

.list-group-item .loan-value {
  position: relative; }

.list-group-item .loan-value input {
  padding-left: 30px;
  width: 100%; }

.list-group-item .loan-value:before {
  content: "R$";
  position: absolute;
  left: 6px;
  font-weight: 700;
  top: 14px;
  color: #000;
  z-index: 100; }

.list-group-item label {
  font-size: 17px;
  font-weight: 300; }

.list-group-item .time-years {
  margin-left: 10px; }

.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none; }

.panel {
  border: none; }

.dropdown-menu > li > a {
  font-size: 16px; }
  @media (max-width: 500px) {
    .dropdown-menu > li > a {
      padding: 5px 15px;
      font-size: 14px; } }

.dropdown-toggle {
  padding: 6px;
  font-size: 18px; }

@media (min-width: 992px) {
  .mobile-filter {
    display: none; } }
.mobile-filter .list-group-item input[type="number"] {
  width: 100%; }
.mobile-filter .label-time {
  width: 100%; }

.panel-title > a {
  font-weight: 300; }

.desktop-filter {
  margin-top: 40px;
  border: none; }
  @media (max-width: 992px) {
    .desktop-filter {
      display: none; } }

.desktop-sort {
  padding: 0 20px; }
  @media (max-width: 992px) {
    .desktop-sort {
      display: none; } }

@media (min-width: 992px) {
  .mobile-sort {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
