//------------------------------
// Variables
//------------------------------
.u-clear-fix{
	clear: both;
}

.u-hide{
	display: none;
}

.u-block{
	display: block;
}

.u-center{
	text-align: center;
}

.u-margin-center{
	margin: 0 auto;
}

.u-absolute-center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin: auto;
}

.u-full-width{
	width: 100%;
}
//------------------------------
// Colour Variables
//------------------------------
$main-text-color: #252525;
$secondary-text-color: #888;
$main-bg-color: #FFF;
$main-white: #FFF;
$main-yellow: #F4B322;
$main-orange: #F9B620;
$main-blue: #0D2A3E;
$main-light-blue: #4274DD;

//------------------------------
// URLS Variables
//------------------------------
$img: '../img';

//------------------------------
// Default styles
//------------------------------
body{
	background-color: $main-bg-color;
	color: $main-text-color;
	font-family: 'Roboto';
}
