// Overwrite css rules (copy the same rules as css)
.navbar-default{
    background-color: $main-blue;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: $main-white;
}

.navbar-nav>li>a:hover {
    color: $main-orange !important;
}

// Navbar Toggle
.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: $main-white;
}
// FIX :focus problem
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:not(.collapsed){
    background-color: $main-white;
}

// Burguer Icon
.navbar-default .navbar-toggle:not(.collapsed) .icon-bar {
    background-color: $main-blue;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: $main-white;
}

// FIXES for the navbar problems
@media (min-width: 768px) and (max-width: 1000px) {
   .navbar-collapse.collapse {
       display: none !important;
   }
   .navbar-collapse.collapse.in {
       display: block !important;
   }
}
@media (min-width: 768px) and (max-width: 1000px){
    .navbar-toggle {
        display: inline-block !important;
    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .container>.navbar-header {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 768px) and (max-width: 1000px){
    .navbar-header {
        float: none;
    }
}
