//------------------------------
// Imports
//------------------------------
@import 'reset';
@import 'default';
@import 'animations';
@import 'overwrite';

//------------------------------
// Navbar
//------------------------------
// .navbar-brand__logo{
//     max-width: 100px;
// }

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    width: auto;
    height: 100%;
    padding: 7px 15px;
}
//------------------------------
// Footer
//------------------------------
.footer{
    padding: 90px 0;

    background-color: $main-blue;

    color: $main-white;
    font-size: 18px;
}

//------------------------------
// Card
//------------------------------
.card{
    margin: 30px 0;

    &-title{
        padding: 10px 0;
    }

    &-text-block{
        margin: 10px 0;

        &__subtitle{
            color: #858585;
            font-weight: 500;
        }
    }

    &-text-vantagens{
        @media (max-width: 768px) {
            display: none;
        }
    }
}

// Card responsive
.card-text{
    @media (min-width: 400px) and (max-width: 769px){
        padding: 10px;
        font-size: 20px;
    }
    &-title{
        font-size: 22px;
        font-weight: 300;
        display: none;
        @media (min-width: 400px) and (max-width: 769px){
            display: block;
        }
    }
}

.card-image__elem{
    @media (min-width: 1200px){
        max-width: 160px;
        padding-top: 0;
    }
}

//------------------------------
// Dropdown Filter & Sort Menu
//------------------------------
.dropdown{
    // border: 1px solid $secondary-text-color;
    border: 1px solid #DDD;
    padding: 0;
}

.dropdown-toggle{
    width: 100%;
    border: none;
    border-radius: 0;
}

.open>.sort {
    width: 100%;
}

.open>.filter {
    @media (max-width: 992px) {
        width: 100vw;
        left: -50vw;
    }
}

.dropdown-menu li{
    display: block;
}

//------------------------------
// Button
//------------------------------
.tr-btn{
    width: 100%;
    margin: 5px 0;

    &--primary{
        background-color: $main-yellow;
        color: $main-white;
    }

    &--ghost{
        border: 1px solid $main-yellow;
        color: $main-yellow;
    }
}

//------------------------------
// Banner
//------------------------------
.banner{
    position: fixed;
    bottom: 0;

    width: 100vw;
    padding: 10px 15px;

    background-color: #FFF;

    box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 1px 0;
    z-index: 2;

    &__title{
        font-size: 22px;
        font-weight: 400;
        text-transform: none;
    }

    &__subtitle{
        font-size: 15px;
    }

    &__btn{
        padding: 10px 15px;

        float: right;

        background-color: #4274DD;
        color: #FFF;
    }
    @media screen and (min-width: 769px){
        display: none;
    }
}

//------------------------------
// Panels
//------------------------------
.list-group-item {
    padding: 10px 35px;
    border: none;
}

.panel-group:last-child{
    margin-bottom: 0;
}

.panel-default>.panel-heading{
    padding: 15px 25px;

    border-bottom: 1px solid #E6E6E6;
    background-color: #FFF;
}

.panel-title{
    font-size: 20px;
}

.list-group-item input{
    position: relative;
    top: -2px;
    padding: 7px 5px;
    margin: 5px 0;
    font-weight: bold;

}

.list-group-item .loan-value{
    position: relative;
}

.list-group-item .loan-value input{
    padding-left: 30px;
    width: 100%;
}

.list-group-item .loan-value:before{
    content: "R$";
    position: absolute;
    left: 6px;
    font-weight: 700;
    top: 14px;
    color: #000;
    z-index: 100;
}

.list-group-item label{
    font-size: 17px;
    font-weight: 300;
}

.list-group-item .time-years{
    margin-left: 10px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: none;
}

.panel{
    border: none;
}

.dropdown-menu>li>a{
    font-size: 16px;

    @media (max-width: 500px){
        padding: 5px 15px;
        font-size: 14px;
    }
}

.dropdown-toggle {
    padding: 6px;
    font-size: 18px;
}

.mobile-filter{
    @media (min-width: 992px){
        display: none;
    }

    .list-group-item input[type="number"]{
        width: 100%;
    }

    .label-time {
        width: 100%;
    }
}

.panel-title>a{
    font-weight: 300;
}

.desktop-filter{
    margin-top: 40px;

    border: none;

    @media (max-width: 992px){
        display: none;
    }
}

.desktop-sort{
    padding: 0 20px;
    @media (max-width: 992px){
        display: none;
    }
}

.mobile-sort{
    @media (min-width: 992px){
        display: none;
    }
}
